.body{
    width: 28%;
    text-align: center;
    border: 1px solid rgba(124, 124, 124, 0.667);
    height: 32rem;
    padding: 1rem;
    margin: 1.5%;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5);
}

.body:hover{
    background-color: bisque;
}

.img{
    width: 30rem;
    height: 18rem;
    border-radius: 10px;
}

button{
    background-image:linear-gradient(rgb(216, 15, 216), rgb(164, 13, 164)) ;
    border-radius: 30px;
    height: 2rem;
    width: 10rem;
    color: azure;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

button:hover{
cursor: pointer;
}